html, body {
  background-color: #1f3540;
  color: white;
  font-family: sans-serif;
}

a {
  color:white;
}

p {
  margin: 40px;
}

.container {
  margin: auto;
  border: 1px solid white;
    padding: 15px;
}

.controls {
  opacity: 0.5;
  background-color: inherit;
  border: 1px solid white;
  position: fixed;
  z-index: 2;
  margin-right: 0px;
  margin-left: auto;
}

ul li {
  list-style-type: none;
}
